*
{
  margin: 0;
  padding: 0; 
}

.navbar {
  width: 100%;
}

.navbar .container {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}


