{% extends 'base.html' %}



{% block content %}
    {% include 'header/navbar.html' %}

    <div class="expense-page">
    <div class="container-fluid">
        <div class="row">
            {% include 'body/pages/expense_tracking/sidebarleft_exp.html' %}
            <div class="col-md-8">
                {% include 'body/pages/expense_tracking/expensetracking_mid.html' %}
            </div>
            {% include 'body/pages/expense_tracking/sidebarright_exp.html' %}
        </div>
    </div>
    </div>


{% endblock %}
