{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}All Dash{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=8">

</head>

<body>
    <!-- JS Test Section -->
    

    {% block content %}
    
    
    {% endblock %}

    <!-- JavaScript Libraries -->    
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/timenepal.js'%}"></script>
    <script src="{% static 'js/worldclock.js'%}"></script>
    <script src="{% static 'js/countdown_football.js'%}?v=2"></script>
    <script src="{% static 'js/dashboard_widgets.js'%}?v=1"></script>
    <script src="{% static 'js/stockex.js'%}?v=5"></script>
    <script src="{% static 'js/stockportfolio.js' %}?v=2"></script>
    <script src="{% static 'js/familyportfolio.js' %}?v=2"></script>
    <script src="{% static 'js/pricealerts.js' %}?v=6"></script>
    <script src="{% static 'js/nepalsaving.js'%}?v=3"></script>
    <script src="{% static 'js/moneytoget.js'%}?v=2"></script>
    <script src="{% static 'js/moneytopay.js'%}?v=2"></script>
    <script src="{% static 'js/expensetracking.js'%}?v=2"></script>
    <script src="{% static 'js/f1_races.js'%}?v=1"></script>

</body>
</html>
