{% extends "base.html" %}
{% block title %}Premier League{% endblock %}

{% block content %}
{% include 'header/navbar.html' %}

<div id="NepCal" class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            {% include 'body/pages/premierleague/leftsidebar_champions.html' %}

            <div class="col-md-8">
                {% include 'body/pages/premierleague/premierdash.html' %}

                <div class="mt-3">
                    {% include 'body/pages/premierleague/upcoming_matches.html' %}
                </div>
            </div>

            {% include 'body/pages/premierleague/rightsidebar_league.html' %}
        </div>

    </div>

</div>




{% endblock %}