{% extends "base.html" %}
{% block title %}All Dash{% endblock %}

{% block content %}
{% include 'header/navbar.html' %}

<div id="NepCal" class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            {% include 'body/Dashboard/leftsidebar_socials.html' %}


            {% include 'body/Dashboard/calander.html' %}


            <div class="col-md-2" id="widget-events">{% include 'body/Dashboard/rightsidebar_events.html' %}</div>
        </div>


        <div id="widget-stockmarket">{% include 'body/Dashboard/stockmarket.html' %}</div>

    </div>

</div>

<div id="widget-f1">{% include 'body/Dashboard/f1_dashboard_index.html' %}</div>
<div id="widget-motogp">{% include 'body/Dashboard/motogp_dashboard_index.html' %}</div>

<div id="widget-premier">{% include 'body/Dashboard/premier_dashboard_index.html' %}</div>
<div id="widget-champions">{% include 'body/Dashboard/champions_dashboard_index.html' %}</div>

{% include 'body/Dashboard/nepal_cricket.html' %}


{% endblock %}