{% extends "base.html" %}


{% block content %}


<div id="WorldClock" class="container-fluid">
    <div class="container">
        <div class="worldclock-card">
            <div class="worldclock-hero">
                <span class="dashboard-chip">Global Time</span>
                <h1 class="dashboard-title">World Clock</h1>
            </div>

            <div class="worldclock-grid">
                <div class="worldclock-tile" data-timezone="Asia/Kathmandu" data-label="Nepal">
                    <span class="worldclock-country">Nepal</span>
                    <span class="worldclock-city">Kathmandu</span>
                    <span class="worldclock-time" id="time-Asia/Kathmandu">--:--:--</span>
                    <span class="worldclock-date" id="date-Asia/Kathmandu">--</span>
                </div>
                

                <div class="worldclock-tile" data-timezone="Australia/Darwin" data-label="Darwin">
                    <span class="worldclock-country">Australia</span>
                    <span class="worldclock-city">Darwin</span>
                    <span class="worldclock-time" id="time-Australia/Darwin">--:--:--</span>
                    <span class="worldclock-date" id="date-Australia/Darwin">--</span>
                </div>

                <div class="worldclock-tile" data-timezone="America/Winnipeg" data-label="Winnipeg">
                    <span class="worldclock-country">Canada</span>
                    <span class="worldclock-city">Winnipeg</span>
                    <span class="worldclock-time" id="time-America/Winnipeg">--:--:--</span>
                    <span class="worldclock-date" id="date-America/Winnipeg">--</span>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
