{% extends "base.html" %}

{% block content %}
<div class="col-md-2">
    <div class="dashboard-card">
        <div class="dashboard-hero">
            <span class="dashboard-chip">Premier League</span>
            <div class="league-table-header">
                <span>Team</span>
                <span class="pts-pad">Pts</span>
            </div>
            <div class="league-table-row">
                <span class="league-table-team">Arsenal</span>
                <span class="league-table-points">84</span>
            </div>
            <div class="league-table-row">
                <span class="league-table-team">Man City</span>
                <span class="league-table-points">78</span>
            </div>
            <div class="league-table-row">
                <span class="league-table-team">Liverpool</span>
                <span class="league-table-points">75</span>
            </div>
            <div class="league-table-row">
                <span class="league-table-team">Tottenham</span>
                <span class="league-table-points">70</span>
            </div>
            <div class="league-table-row">
                <span class="league-table-team">Aston Villa</span>
                <span class="league-table-points">68</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}